<!DOCTYPE html>
<html>
    <head>
         <title>About</title>
         <link rel="stylesheet" href="../static/css/style2.css">
    </head>
    <body>
        <div class="para">
         <p>            Through this Online Registration you can register which course you want to learn.We help learners in many ways like
            providing online live classes,providing recored classes,providing best study materials and by providing different mock test depending upon the course.
        </p>
        </div>

    </body>
    
</html>
