<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Resume</title>
    <link rel="stylesheet" href="../static/css/style1.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>

<body>
    <div class="resume">
        <div class="resume_left">
            <div class="resume_profile">
                <img src="../static/img/20201228_125445.png" alt="profile_pic">
            </div>
            <div class="resume_content">
                <div class="resume_info">
                    <div class="resume_item resume_info">
                        <div class="title">
                            <p class="bold">fouziya b</p>
                            <p class="regular">Fresher</p>
                        </div>
                        <ul>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-map-signs"></i>
                                </div>
                                <div class="data">
                                    49,Ibrahim Street,Dekispet <br /> DHARMAPURI
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-mobile-alt"></i>
                                </div>
                                <div class="data">
                                    +91 7904420103
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="data">
                                    fouziya.b31@gmail.com
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="resume_skills">
                        <div class="resume_item resume_skills">
                            <div class="title">
                                <p class="bold">skill's</p>
                            </div>
                            <ul>
                                <li>
                                    <div class="skill_name">
                                        C
                                    </div>
                                    <div class="skill_progress">
                                        <span style="width: 97%;"></span>
                                    </div>
                                    <div class="skill_per">97%</div>
                                </li>
                                <li>
                                    <div class="skill_name">
                                        core JAVA
                                    </div>
                                    <div class="skill_progress">
                                        <span style="width: 85%;"></span>
                                    </div>
                                    <div class="skill_per">85%</div>
                                </li>
                                <li>
                                    <div class="skill_name">
                                        HTML
                                    </div>
                                    <div class="skill_progress">
                                        <span style="width: 50%;"></span>
                                    </div>
                                    <div class="skill_per">50%</div>
                                </li>
                                <li>
                                    <div class="skill_name">
                                        CSS
                                    </div>
                                    <div class="skill_progress">
                                        <span style="width: 50%;"></span>
                                    </div>
                                    <div class="skill_per">50%</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="resume_right">
                
                    <div class="resume_item resume_about">
                        <div class="title">
                            <p class="bold">Objective</p>
                        </div>
                        <p>To obtain a position that will allow me to utilize my technical skills and to give my best in
                            my professional pursuit for overall benefit and growth of the company that I serve.</p>
                    </div>

                    <div class="resume_education">
                        <div class="resume_item resume_education">
                            <div class="title">
                                <p class="bold">Education</p>
                            </div>
                            <ul>
                                <li>
                                    <div class="date">2017 - 2021</div>
                                    <div class="info">
                                        <p class="semi-bold">Adhiyamaan college of Engineering</p>
                                        <p>Anna University<br />B.E/Computer Science And Engineering - 84%</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="date">2016 - 2017</div>
                                    <div class="info">
                                        <p class="semi-bold">Sri Vijay Vidhyalaya</p>
                                        <p>State Board<br />HSC - 90.17%</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="date">2014 - 2015</div>
                                    <div class="info">
                                        <p class="semi-bold">Sri Vijay Vidhyalaya</p>
                                        <p>State Board<br />SSLC- 96.4%</p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="resume_item resume_education">
                        <div class="title">
                            <p class="bold">AREA OF INTEREST </p>
                        </div>
                        <p>Object Orientetd Programming in JAVA</p>
                    </div>
                    <div class="resume_item resume_education">
                        <div class="title">
                            <p class="bold">WORKSHOP </p>
                        </div>
                        <ul>
                            <li>
                                <div class="date">2019</div>
                                <div class="info">
                                    <p class="semi-bold">Machine Learning</p>
                                    <p>Madras Institute Of Technology, Chennai. <br />
                                    </p>
                                </div>
                                
                                    <div class="date">2019</div>
                                    <div class="info">
                                        <p class="semi-bold">Web Design for Online Marketing<br />
                                        </p>Adhiyamaan College Of Engineering, Hosur.</p>      
                                      </div>
                                  
                            </li>

                        </ul>
                    </div>
                    <div class="resume_item resume_education">
                        <div class="title">
                             <p class="bold">CERTIFICATION</p>
                           </div>
                        <ul>
                              <li>
                                  <div class="date">2020</div> 
                                  <div class="info">
                                    <p class="semi-bold">Career Edge – Knockdown the Lockdown online course offered by TCS iON</p>
                                    
                                  </div>
                              </li>
                              
                          </ul>
                      </div>
                
            </div>
        
    </div>
    
</body>

</html>