<!DOCTYPE html>
<html>

<head>
    
    <title>Online Course Registration</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <style>body{
        background-image: url("../static/img/Banner-70.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }</style>
</head>

<body>

    <ul class="navbar">
        <li><a href="login.html" target="_blank">LOGIN</a></li>
        <li><a href="register.html" target="_blank">REGISTER</a></li>
        <li><a href="about.html" target="_blank">ABOUT</a></li>
        

    </ul>


</body>

</html>