<!DOCTYPE html>
<html>

<head>
    <title>Login page</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <div class="page">
        <form action="Dashbord1.html" target="_blank" method="POST">
            <input type="text" class="input-field" placeholder="ENTER USERNAME" REQUIRED><br><br>
            <input type="password" class="input-field" placeholder="ENTER PASSWORD" REQUIRED><br>
            <input type="checkbox" class="check-box"><span>REMEMBER PASSWORD</span><br>
            <button type="submit" class="submit-btn">LOG IN</button>
        </form>

    </div>
</body>

</html>