<!DOCTYPE html>
<html>

<head>
    <title>Register page</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <div class="register">
        <form action="Login.html" target="_blank" method="POST">
            <input type="text" class="input" placeholder="FIRST NAME " REQUIRED><br><br>
            <input type="text" class="input" placeholder="MIDDLE NAME" ><br><br>
            <input type="text" class="input" placeholder="LAST NAME" REQUIRED><br><br>
            <input type="email" class="input" placeholder="EMAIL ID" REQUIRED><br><br>
            <input type="password" class="input" placeholder="PASSWORD" REQUIRED><br><br>
            <input type="password" class="input" placeholder="CONFIRM PASSWORD" REQUIRED><br><br>
            <input type="course" class="input" placeholder="TYPE YOUR COURSE" REQUIRED><br><br>
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">MALE</label><br>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">FEMALE</label><br>
            <input type="radio" id="other" name="gender" value="other">
            <label for="other">OTHER</label><br><br>
            <input type="checkbox" class="check box" required><span>I agree to the terms and conditions</span><br><br>
            <button type="submit" class="submit btn">REGISTER</button>
        </form>

    </div>
</body>

</html>